#header{
    display: flex;
    align-items: center;
    background-color: rgba(57,43,255,0.78);
    /*padding: 6px 10px;*/
    text-align: center;
    font-size: 24px;
    height: 36px;
    color: black;
}
#header > div{
    display: inline-block;
    position: relative;
}
#header > .searchBar{
    overflow: hidden;
    flex: 6;
    text-align: center;
}
#header > .left-container{
    height: 100%;
    flex: 2;
    text-align: left;
    align-items: center;
}
#header > .right-container{
    height: 100%;
    flex: 2;
    text-align: right;
}
.right-container > span{
    position: relative;
    display: inline-block;
    height: 100%;
}
#searchBox{
    width: 80%;
    height: 100%;
    outline: 0 none;
    border: 0 none;
    border-radius: 4px;
    font-size: 20px;
    padding: 4px 10px 4px 50px;
}
.searchIcon{
    position: absolute;
    top: 50%;
    left: calc(10% + 10px);
    transform: translateY(-50%);
    color: black;
}
.svg-box{
    height: 100%;
    padding: 0 5px;
    vertical-align: middle;
}
.person-info{
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0;
    bottom: -200px;
    border-radius: 2px;
    border: 2px solid rgba(255,247,150,0.99);
    background-color: white;
    border-top-color: transparent;
    border-right-color: transparent;
}
.person-info > .person-header{
    font-weight: bolder;
    text-align: center;
}
.person-info > .person-content{
    text-align: center;
}
.header-sidebar{
    position: fixed;
    right: 0;
    top: 36px;
    background-color: #FAF9F8;
    bottom: 0;
    width: 400px;
    overflow: auto;
    text-align: left;
    z-index: 1;
    box-shadow: -2px 0 2px #999999, 2px 0 2px #999999;
}