.add{
    border-radius: 4px;
    box-shadow: 0 -5px 5px 4px rgba(239,253,246,0.97);
    z-index: 1;
}
.add > .first-add{
    padding: 10px 15px;
    border-bottom: 1px solid #cccccc;
    color: rgba(62,106,253,0.97);
}
.second-add{
    padding: 10px 15px;
    background-color: rgba(237,253,242,0.97);
}
#task{
    box-sizing: border-box;
    vertical-align: middle;
    width: calc(100% - 1.5em);
    padding: 0 10px;
    height: 40px;
    outline: none;
    border: 0 none;
    color: black;
    font-size: 18px;
}
#task::-webkit-input-placeholder {
    /* WebKit/Blink */
    color: blue;
}
#task:focus::-webkit-input-placeholder{
    color: black;
}
#circle-or-plus > svg{
    vertical-align: middle;
    scale: 1.2;
}
.second-add > span{
    position: relative;
    margin: 0 10px;
    color: black;
}
.second-add > span > svg{
    shape-rendering: geometricPrecision;
    vertical-align: middle;
    scale: 1.6;
}
#add-task{
    vertical-align: middle;
    color: blue;
    float: right;
}
#add-task:disabled{
    color: #999999;
}
