.assign-header{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgba(255,187,83,0.91);
}
.assign-header > span{
    flex: border-box;
    margin-left: 6px;
    margin-right: 10px;
}