.setting-header{
    display: grid;
    font-size: 20px;
    grid-template-columns: auto max-content;
    margin-top: 20px;
    height: 24px;
    line-height: 36px;
}
.setting-header > span.name{
    font-weight: 500;
}
.setting-header > div.close-button {
    vertical-align: middle;
}

.slide{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.slide > input{
    display: none;
}
.slide > .slide-round{
    position: absolute;
    inset: 0;
    border: 1px solid currentColor;
    border-radius: 20px;
    background-color: white;
    color: #999999;
    transition: 0.5s;
}
.slide-round:hover{
    color: black;
}
.slide > .slide-round::before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 3px;
    bottom: 3px;
    top: 3px;
    background-color: #999999;
    transition: 0.5s;
}
.slide > .slide-round:hover::before{
    background-color: black;
    transition: 0.5s;
}
.slide input:checked + .slide-round::before{
    background-color: white;
    transition: 0.5s;
    transform: translateX(26px);
}
.slide input:checked + .slide-round {
    background-color: blue;
    transition: 0.5s;
}
.single-flex {
    font-size: 16px;
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 10px;
    align-items: center;
}
.single-flex > .button-header{
    font-weight: 500;
    grid-column: 1/3;
}
.single-flex > label.slide{
    grid-column: 1/2;
}
.single-flex > .button-sc{
    grid-column: 2/3;
}

