.sideBar{
    background-color: #FFFFFF;
    border-right: 4px solid #282c34;
    flex: 1;
    height: 100%;
    padding: 20px 0;
}
.singlePart{
    text-align: left;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    font-size: 20px;
    border-left: 4px solid transparent;

}
.singlePart:active{
    background-color: rgba(110,255,238,0.78);
    border-left: 2px solid;
}
.sideBar-svg-box{
    vertical-align: middle;
    flex: border-box;
    scale: 1.5;
}
.nav-item{
    display: inline-block;
    text-decoration: none;
    flex: 1;
    color: black
}
.selected-part{
    background-color: rgba(52,191,101,0.28);
    border-left: 4px solid blue;
    font-weight: bolder;
}
.part-count{
    flex: border-box;
}